/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: black;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 2px solid #ddd;
}

.tab {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #f0f0f0;
}

.tab.active {
  background-color: #e0e0e0;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

main {
  padding: 20px;
}
