/* Loader.css */

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #1f262e;
  color: #f2f1e8;
}

.loader-wrapper h2 {
  margin-bottom: 15px;
  color: #fad02c;
}

.loader {
  border: 8px solid #4c7c71;
  border-top: 8px solid #fad02c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
